include VERSION
include README.md
include pyproject.toml
include setup.py
include setup.cfg

recursive-include src *.py *.pyi *.pyx py.typed

recursive-include vendor/lite3/include *.h
recursive-include vendor/lite3/src *.c
