name: Publish Docs

on:
  workflow_dispatch:
  release:
    types:
      - published
  # push:
  #   branches:
  #     - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"

      - name: Install Dependencies
        run: uv sync --group dev

      - name: Deploy
        run: uv run mkdocs gh-deploy --force
